{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serenity</title>
    <link rel="stylesheet" href="{% static 'css/landingpage.css' %}">
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
</head>
<body>
    <div class="landingpage">
        <div class="topbar">
            <div class="logo">
                <img src="{% static 'images/logo.png' %}" alt="logo" class="lgo">
                <p class="sere">Serenity</p>
            </div>
            <div class="menu-container">
                <button id="menu-button">
                    <img src="{% static 'images/menu.png' %}" alt="Menu">
                </button>
                <div id="menu" class="menu">
                    <ul>
                        <li><a href="{% url 'landing_page' %}">Home</a></li>
                        <li><a href="#about_us">About</a></li>
                        <li><a href="{% url 'gallery' %}">Gallery</a></li>
                        <li><a href="{% url 'landing_page' %}">Services</a></li>
                        <li><a href="{% url 'landing_page' %}">Contact</a></li>
                        <li><a href="{% url 'logins' %}">Login's</a></li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="data_put">
            <h1>Serenity Country Club</h1>
            <p>Welcome to Serenity Country Club, an oasis of tranquility and luxury nestled in the heart of nature. Our club offers an exclusive retreat where members can unwind and enjoy world-class amenities. From our meticulously maintained golf courses and tennis courts to our state-of-the-art fitness center and spa, Serenity Country Club is designed to provide a perfect blend of relaxation and recreation. Indulge in gourmet dining at our elegant restaurant, participate in a variety of social events, or simply relax by the pool with breathtaking views.</p>
            <button>Get started</button>
        </div>
    </div>
    <div class="about_us" id="about_us">
        <div class="about_title">
            <h1>About Us</h1>
            <p>Welcome to Serenity Country Club, an oasis of tranquility and luxury nestled in the heart of nature. Our club offers an exclusive retreat where members can unwind and enjoy world-class amenities. From our meticulously maintained golf courses and tennis courts to our state-of-the-art fitness center and spa, Serenity Country Club is designed to provide a perfect blend of relaxation and recreation. Indulge in gourmet dining at our elegant restaurant, participate in a variety of social events, or simply relax by the pool with breathtaking views.</p>
        </div>
        <div class="about_image">
            <img src="{% static 'images/2meal.jpg' %}" alt="meal" class="meal">
        </div>
    </div>
    <div class="facilitiesandservices">
        <div class="tile">
            <h1>Facilities and Services</h1>
        </div>
        <div class="thefacilities">
            <p>Enjoy our pristine golf courses, top-notch tennis courts, and modern fitness center. Relax in our indulgent spa, lounge by the sparkling pool, and savor gourmet dining in our elegant restaurant. Join us for social events and experience unparalleled comfort and recreation</p>
        </div>
        <div class="cont">
            <div class="cont1">
                <div class="containerimage">
                    <img src="{% static 'images/fireburger.jpg' %}" alt="burger" class="dining">
                </div>
                <div class="para">
                    <h3>Dining</h3>
                </div>
                <div class="button">
                    <button>View</button>
                </div>
            </div>
            <div class="cont1">
                <div class="containerimage">
                    <img src="{% static 'images/swim.png' %}" alt="swimming" class="swimming">
                </div>
                <div class="para">
                    <h3>Swimming</h3>
                </div>
                <div class="button">
                    <button>View</button>
                </div>
            </div>
            <div class="cont1">
                <div class="containerimage">
                    <img src="{% static 'images/golf.png' %}" alt="">
                </div>
                <div class="para">
                    <h3>Golfing</h3>
                </div>
                <div class="button">
                    <button>View</button>
                </div>
            </div>
        </div>
        <div class="viewall">
            <button>View all</button>
        </div>
    </div>
    <div class="contact">
        <div class="contactimage">
            <img src="{% static 'images/bty.jpg' %}" alt="" class="conim">
        </div>
        <div class="contactinfo">
            <h1>Contact Form</h1>
            <p>Fill in the below form for more inquiries:-</p>
            <div class="contactform">
                
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="sub" type="submit">Submit</button>
                </form>
            </div>
            <div class="contactsocials">
                <div class="socialmedia">
                    <div class="mediaimg">
                        <img src="{% static 'images/ig.png' %}" alt="instagram">
                    </div>
                    <div class="mediaimg">
                        <img src="{% static 'images/fb.png' %}" alt="instagram">
                    </div>
                    <div class="mediaimg">
                        <img src="{% static 'images/whats.png' %}" alt="instagram">
                    </div>
                    <div class="mediaimg">
                        <img src="{% static 'images/tik.png' %}" alt="instagram">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="copy">
            <p>Copyright@2024</p>
        </div>
        <div class="privacy">
            <p>Privacy Policy 2024</p>
        </div>
    </div>
    <script src="{% static 'js/scripts.js' %} "></script>
</body>
</html>