@import url(https://db.onlinewebfonts.com/c/c0152cb744b60409569eeee46b8897f3?family=Euclid); 
@import url(https://db.onlinewebfonts.com/c/533966a0ad055c8e5a1f184055560c15?family=Collega); 

@import url(https://db.onlinewebfonts.com/c/0ab0ae4f00bc5759060ffb644ce6c66f?family=Am+Sans); 

@font-face {
    font-family: "Am Sans";
    src: url("https://db.onlinewebfonts.com/t/0ab0ae4f00bc5759060ffb644ce6c66f.eot");
    src: url("https://db.onlinewebfonts.com/t/0ab0ae4f00bc5759060ffb644ce6c66f.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/0ab0ae4f00bc5759060ffb644ce6c66f.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/0ab0ae4f00bc5759060ffb644ce6c66f.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/0ab0ae4f00bc5759060ffb644ce6c66f.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/0ab0ae4f00bc5759060ffb644ce6c66f.svg#Am Sans")format("svg");
}

@font-face {
    font-family: "Collega";
    src: url("https://db.onlinewebfonts.com/t/533966a0ad055c8e5a1f184055560c15.eot");
    src: url("https://db.onlinewebfonts.com/t/533966a0ad055c8e5a1f184055560c15.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/533966a0ad055c8e5a1f184055560c15.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/533966a0ad055c8e5a1f184055560c15.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/533966a0ad055c8e5a1f184055560c15.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/533966a0ad055c8e5a1f184055560c15.svg#Collega")format("svg");
}

@font-face {
    font-family: "Euclid";
    src: url("https://db.onlinewebfonts.com/t/c0152cb744b60409569eeee46b8897f3.eot");
    src: url("https://db.onlinewebfonts.com/t/c0152cb744b60409569eeee46b8897f3.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/c0152cb744b60409569eeee46b8897f3.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/c0152cb744b60409569eeee46b8897f3.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/c0152cb744b60409569eeee46b8897f3.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/c0152cb744b60409569eeee46b8897f3.svg#Euclid")format("svg");
}

body,*{
    padding: 0;
    margin: 0%;
}
.topbar{
    background-color: red;
    display: flex;
    padding: 1.3%;
    margin-left: 40%;
    width: 20%;
    margin-right: 40%;
    padding-left: 1.4%;
    margin-top: .5%;
    padding-right: 1.4%;
    justify-content: space-between;
    position: fixed;

    border-radius: 42px;
}
.landingpage{
    background-image: url('/static/images/oswaldo-martinez--kX30HhRPj0-unsplash.jpg');
    background-size:contain;
    height: 915px;
    margin-top: .25%;
    margin-left: .25%;
    margin-right: .25%;
    border-radius: 25px;
    
}
.about_us{
    margin-top: 3%;
}
.data_put{
    align-items: center;    /* Center vertically */
    justify-content: center;
    text-align: center;
    padding-top: 12%;
}
.data_put h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 155px;
    color: white;
}
.data_put button{
    padding: .75%;
    font-size: 30px;
    border-radius: 22px;
    background-color: orangered;
    color:white;
    border: none;
}
.data_put p{
    color: white;
    padding-left: 8.5%;
    padding-right: 8.5%;
    padding-bottom: 2.5%;
    color: white;
    padding-top: 1%;
}

.about_title h1{
    padding-top: 13.5%;
}
.about_title{
    width: 50%;
    padding-left: 15%;
}
.about_image{
    width: 50%;
    padding-left: 5%;
    padding-top: .5%;
}
.about_us{
    display: flex;
}
.meal{
    height: 430px;
    border-radius: 11% 89% 62% 38% / 30% 23% 77% 70% ;
}
.facilitiesandservices{
    background-color: black;
    color: white;
    border-radius: 33px;
    margin-top: 5%;
    padding-top: 2.5%;
    margin-bottom: 2%;
    height: 800px;
}
.facilitiesandservices h1{
    font-family: "Am Sans";
    font-size: 80px;
    padding-top: 2.5%;
}
.facilitiesandservices p{
    font-family: "Am Sans";
    font-size: 30px;
    padding-top: 2%;
    padding-left: 4%;
    padding-right: 4%;
}
.tile{
    text-align: center;
}
.thefacilities p{
    padding: 1.5%;
    padding-left: 5%;
    padding-right: 5%;
}
.thefacilities{
    text-align: center;
}
.button{
    text-align: center;
}
.para h3{
    text-align: center;
}
.cont{
    display: flex;
    justify-content: space-around;
}

.cont1{
    background-color: gainsboro;
    height: 150px;
}
.contactimage{
    width: 790px;
    margin-left: 45px;
}
.conim{
    width: 790px;
    margin-left: 4%;
    border-radius: 22px;
}
.contact{
    display: flex;
}
.contactform{
    display: inline-flex;
    width: 50%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.contactinfo{
    margin-left: 7.5%;
    margin-right: 5%;
    background-color: black;
    color: white;
    margin-top: 3.5%;
    width: 50%;
    border-top: 2px solid black;
    padding-left: 3%;
    padding-top: 2%;
    border-left: 2px solid black;
}
input{
    width: 130%;
    padding: 3%;
    border-radius: 22px;
    border: none;
    padding-left: 5%;
    padding-top: 4%;
    font-size: 24px;
    padding-bottom: 4%;
    margin-left: 3%;
    margin-right: 3%;
}
.logo{
    display: flex;
}
.logo p{
    padding-top: 3%;
}
.footer{
    display: flex;
    justify-content: space-around;
    margin-top: 1.3%;
    background-color: none;
    font-family: "Euclid";
}
.sub{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 22px;
    border: none;
    font-size: 33px;
    width: 135%;
    margin-left: 3%;
    background-color: orangered;
    color: white;
}
.contact h1{
    font-family: "Euclid";
}
.mnu{
    height: 23px;
    padding-top: 2.5%;
}
.sere{
    font-family: "Am Sans";
    font-size: 20px;
    margin-top: 4.5%;
    color: white;
}
.lgo{
    width: 35px;
    height: 35px;
}
.data_put h1{
    font-family: "Am Sans";
    padding-bottom: 3%;
}

.data_put p{
    font-family: "Am Sans";
    font-size: 30px;
    color: gainsboro;
}
.data_put button{
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 1px 1px 1px white;
}
.about_title h1{
    font-size: 80px;
    font-family: "Am Sans";

}
.about_title p {
    font-family: "Am Sans";
    font-size: 22.5px;
}
.dining{
    height: 50px;
}




.menu-container {
    position: relative;
}

#menu-button {
    background: none;
    border: none;
    cursor: pointer;
}

#menu-button img {
    width: 30px;
    height: 30px;
}

.menu {
    display: none;
    position: absolute;
    top: 50px; /* Adjust this based on your button size */
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    max-height: 0;
    width: 130px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    border-bottom: 1px solid #ddd;
}

.menu ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.menu ul li a:hover {
    background-color: #f0f0f0;
}

.menu ul li:last-child {
    border-bottom: none;
}
.viewall{
    margin-top: 15%;
    text-align: center;
}
.viewall button{
    padding: .95%;
    font-size: larger;
    font-family: "Am Sans";
    background-color: orangered;
    border: none;
    border-radius: 22px;
    color: white;
}

.footer{
    font-family: "Am Sans";
}
.containerimage{
    background-color: red;
}
.socialmedia{
    display: flex;
    padding-left: 5%;
    justify-content: space-around;
    width: 35%;
}
.contactinfo p{
    padding-top: 3%;
}

